@keyframes resultBuild {
    from {height: 0px; padding-top: 0;}
    to {height: 44px; padding-top: 10px;}
}

.listContainer {
	background-color: rgb( 240, 240, 240 );
}

.placeList {
	width: 100%;
	height: 100%;
    padding: 15px 0;

	overflow: scroll;

	&--active {
		display: block;
	}

	&__item {
		@extend .clearfix;
		line-height: 24px;

		padding: 10px 15px;
		padding-right: 0;
	    margin: 2px 0;
	    margin-bottom: 4px;

	    overflow: hidden;

		animation-name: resultBuild;
		animation-duration: .2s;

		&--closed {
			color: #999;

			.placeList__item__open:after {
				content: 'Closed';
			}
		}

	    &--open {
	    	background: #FFF;
			box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	    }

		&--highscore {
			background: #DFD;
		}

		&__open {
			float: right;
			padding-left: 30px;
			padding-right: 15px;
			color: rgba( 0, 0, 0, .2 );
		}

		&__district {
			float: left;

			width: 24px;
			height: 24px;
			line-height: 24px;
			margin-right: 15px;

			background-color: rgb( 240, 240, 240 );

			color: rgba( 0, 0, 0, .2 );
			text-align: center;
			font-size: 0.8em;
			border-radius: 50%;
			box-shadow: inset 0 1px 3px rgba( 0, 0, 0, 0.3 );
		}
	}
}