<!DOCTYPE html>
<html lang="en" ng-app="map">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- Global -->
	<link rel="stylesheet" href="styles/resets.css">
	<link rel="stylesheet" href="styles/fonts.css">

	<!-- Sructure -->
	<link rel="stylesheet" href="styles/structure.css">

	<!-- Sections -->
	<link rel="stylesheet" href="styles/header.css">
	<link rel="stylesheet" href="styles/map.css">
	<link rel="stylesheet" href="styles/list.css">
	<link rel="stylesheet" href="styles/filters.css">
</head>
<body>
	<!--
	<activitymap></activitymap>

	<mapstest></mapstest>
	-->

	<div class="body">
		<header class="headContainer">
			<h1 class="siteTitle f-title">Beans and Beer</h1>
		</header>

		<div class="mapContainer">
			<div class="map"></div>
		</div>

		<div class="listContainer">
			<div class="filterContainer">
				<h2 class="filterTitle f-title">Filters</h2>
				<div class="filterListContainer">
					<ul class="filterList">
						<li class="filterList__item">1</li>
						<li class="filterList__item">2</li>
						<li class="filterList__item">3</li>
						<li class="filterList__item">4</li>
						<li class="filterList__item">5</li>
						<li class="filterList__item">6</li>
						<li class="filterList__item">7</li>
						<li class="filterList__item">8</li>
						<li class="filterList__item">9</li>
						<li class="filterList__item">10</li>
						<li class="filterList__item">11</li>
						<li class="filterList__item">12</li>
						<li class="filterList__item">13</li>
						<li class="filterList__item">14</li>
						<li class="filterList__item">15</li>
						<li class="filterList__item">16</li>
						<li class="filterList__item">17</li>
						<li class="filterList__item">18</li>
						<li class="filterList__item">19</li>
						<li class="filterList__item">20</li>
						<li class="filterList__item">21</li>
						<li class="filterList__item">22</li>
						<li class="filterList__item">23</li>
						<li class="filterList__item">24</li>
						<li class="filterList__item">25</li>
						<li class="filterList__item">26</li>
						<li class="filterList__item">27</li>
						<li class="filterList__item">28</li>
					</ul>
				</div>
			</div>

			<ul class="placeList">
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
				<li class="placeList__item"></li>
			</ul>
		</div>
	</div>





	<!-- GOOGLE MAPS -->
	<script src="scripts/googlemaps.js"></script>
	<!-- END - - GOOGLE MAPS -->



	<!-- APP TEMPLATES -->
	<!-- Activity map template -->
	<script type="text/ng-template" id="/templates/activitymap.html">
		<h1>Activity map</h1>
		<div style="position:relative;width:100%;padding-bottom:66%;">
			<div id="map-canvas"
				 style="position:absolute;width:100%;height:100%;"></div>
		</div>

		<ul>
			<li ng-repeat="polygon in districtsCoords" style="padding-bottom: 50px;">
				<span ng-repeat="coords in polygon" >| {{ coords.A }}:{{ coords.F }} |</span>
			</li>
		</ul>
	</script>

	<!-- Map test template -->
	<script type="text/ng-template" id="/templates/mapstest.html">
		<div ng-repeat="(districtName, districtData) in districts">
			<h2>{{ districtName }}</h2>

			<ol>
				<li ng-repeat="point in districtData[0].points">
					<b>long: </b> {{ point.D }}
					<br>
					<b>lat: </b>  {{ point.k }}
				</li>
			</ol>
		</div>

		<!--
		<p>{{ districts }}</p>
		-->
	</script>
	<!-- END - - APP TEMPLATES -->



	<!-- APP SCRIPTS -->
	<!-- Initialise the app -->
	<script src="scripts/angular.js"></script>
	<script src="scripts/app.js"></script>

	<!-- values	-->
	<script src="scripts/values/districts.js"></script>
	<script src="scripts/values/googlemaps.js"></script>

	<!-- directives	-->
	<script src="scripts/directives/activitymap.js"></script>
	<script src="scripts/directives/mapstest.js"></script>
	<!-- END - - APP SCRIPTS -->
</body>
</html>